.closebutton{

    margin-left: 97%;
    margin-top: 1%;
}

.adminh1{

    margin-left: 43%;
    margin-top: 2%;
    font-weight: bolder;
}

.adminimg1{

    margin-left: 25%;
    margin-top: 3%;
}

.productadding{

    margin-top: 1%;
}