.login{

    width: 20%;
    margin-top: 10%;
    margin-left: 40%;
}

.radias{

    border-radius: 15px;
    border-style: none;
    background-color: rgb(235, 235, 235);
}

.SignUp{

    margin-left: 58%;
    border-color: blue;
    color: blue;
}

.Lh1{

    margin-left: 27%;
    margin-top: 10%;
    font-size: 90px;
    font-weight: bolder;
}

.Lh2{

    margin-left: 24%;
    margin-top: 10%;
    font-size: 90px;
    font-weight: bolder;
}