@media(max-width: 1280px){

    .divmain{

        margin-left: %;

        
    }

    .btn01{

        padding-top: 50px;
        margin-top: -8.50%;
    }

    .macbookimg1{

        margin-top: -95px;
        margin-left: 20px;
        width: 100px;
    
    }

    .off40{

        padding-top: 17px;
        
    }


}