.body{

    
}

.navcolor{

    background-color: rgb(247, 158, 11);
    
}

.div01{

    background-color: #feb887;
    width: 65%;
    height: 12vh;
    margin-top: 3%;

}



.btn01{

    margin-left: 78%;
    margin-top: -6.90%;
    
}

.macbookimg1{

    margin-top: -90px; 
    margin-left: 30px;
    width: 100px;

}

.off40{

    padding-top: 30px;

}

.ol1{

    margin-left: 11%;
    margin-top: 30px;
    display: inline;

}

.olb1{

    margin-left: 650px;
    margin-top: -37px;
    font-size: 20px;
    font-weight: 500px;
    text-decoration: underline;


}

.olb2{

    margin-left: 600px;
    margin-top: -37px;
    font-size: 20px;
    font-weight: 500px;
    text-decoration: underline;


}

.olb3{

    margin-left: 410px;
    margin-top: -37px;
    font-size: 20px;
    font-weight: 500px;
    text-decoration: underline;


}

.ol2{

    margin-left: 150px;
    margin-top: 30px;
    display: inline;

}

.card{

    margin-left: 16px;
}

.last{

    margin-left: 300px;
    padding-top: 20px;
    list-style: none;
}

.icons{

    width: 70px;
}






.ol3{

    margin-left: 150px;
    margin-top: 30px;
    display: inline;
    font-weight: bold;

}
